<!-- <ngx-org-chart [nodes]="nodes" direction="vertical" (itemClick)="test($event)"></ngx-org-chart> -->

<div class="org-chart">
  <div class="org-chart-level">
    <div class="org-chart-node ceo-node">CEO</div>
  </div>
  <div class="org-chart-level">
    <div class="connector"></div>
    <div class="org-chart-node manager-node">Manager 1</div>
    <div class="connector"></div>
    <div class="org-chart-node manager-node">Manager 2</div>
  </div>
  <div class="org-chart-level">
    <div class="connector"></div>
    <div class="org-chart-node employee-node">Employee 1</div>
    <div class="connector"></div>
    <div class="org-chart-node employee-node">Employee 2</div>
  </div>
</div>
